<%- include("../partials/header") %>


<h1>Edit <%= gallery.title %></h1>


<form action="/gallery" method="POST" enctype="multipart/form-data"> 
	<input type="text" name="gallery[title]" value="<%= gallery.title %>">
	<input type="file" id="imgUpload" name="img" accept="images/*" multiple>
	<input type="submit" value="Add Pictures">
</form>

<br>

<% gallery.imgs.forEach(function(img){ %>
	<div>
		<img src="<%= img.img %>" style="width: 200px">
		<form action="/gallery/<%= gallery._id %>/<%= img._id %>?_method=DELETE" method="POST">
			<input type="submit" value="Delete Picture">
		</form>
	</div>
<% }); %>

<br>

<form action="/gallery/<%= gallery._id %>?_method=DELETE" method="POST">
	<input type="submit" value="Delete Gallery">
</form>


<%- include("../partials/header") %>