<%- include("../partials/header") %>

<style>
	body{
		margin-top: 70px;
	}
</style>


<!-- Jumbotron -->
<header>
	<div class="container">
    	<div class="jumbotron" style=" color: #2c3e50; background-color: #ecf0f1;">
        
			<!-- title -->
			<h1> <i class="fas fa-camera-retro"></i> <%= gallery.title %>  </h1>
        
			<!-- author, date, total likes -->
			<div>
				<p> Published by: <a href="/profile/<%= gallery.author.id %>"> <%= gallery.author.username %> </a> </p>
				<p> <em> Posted on <%= gallery.created.toDateString() %> </em> </p>
				<p>

				</p>	
			</div>
    	</div>
	</div>
</header>

<main>
	<div class="container">
		<div class="row">
			
			<% gallery.imgs.forEach(function(img, i){ %>
			
				<div class="col-sm-6 col-lg-4">
					<img class="img-thumbnail my-2 img-fluid" src="<%= img.img %>" style="width: 100%; height:  200px; object-fit: cover">	
				</div>
			
			<% }); %>
		</div>
	</div>
</main>



<div class="row" id="gallery" data-toggle="modal" data-target="#exampleModal">
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100" src="/image-1.jpg" data-target="#carouselExample" data-slide-to="0">
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100" src="/image-2.jpg" data-target="#carouselExample" data-slide-to="1">
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100" src="/image-3.jpg" data-target="#carouselExample" data-slide-to="2">
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <img class="w-100" src="/image-4.jpg" data-target="#carouselExample" data-slide-to="3">
  </div>
</div>






<% gallery.imgs.forEach(function(img, i){ %>
	<img src="<%= img.img %>">
	<form action="/gallery/<%= gallery._id %>/like/<%= img._id %>" method="POST">
		<button>
			<div class="btn-group">
            	<% if (currentUser && img.likes.some(function (like) {
                	return like.equals(currentUser._id)
            	})) { %>
                	<button class="btn btn-primary">
                    	<i class="fas fa-thumbs-up"></i> Liked (<%= img.likes.length %>)
                	</button>
            	<% } else { %>
                	<button class="btn btn-secondary">
                    	<i class="fas fa-thumbs-up"></i> Like (<%= img.likes.length %>)
                	</button>
            	<% } %>
				<!-- add img._id to the button beneath each img -->
            	<button id="<%= img._id %>" type="button" class="whoLiked btn btn-sm btn-default" data-toggle="modal"
                    data-target="#pictureLikes">See more details
				</button>
        	</div>
		</button>	
	</form>
<% }); %>





<%- include("../partials/footer") %>