<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	  
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/d7c2cf6d44.js" crossorigin="anonymous"></script>
	  
	<!-- My CSS -->
	<link rel="stylesheet" href="/stylesheets/showOne.css">

    <title>Intense Traveller</title>
	  
  </head>
  <body>
	 
	
	<div class="container-fluid h-100">
			
		<div class="row h-100">
			
			
			<!-- Img -->
			<div id="imgDiv" class="col-12 text-center d-flex justify-content-center align-items-center">
				
				<img class=" mt-1" src="<%= gallery.imgs[indx].img %>">
					
			</div>
			
			
			<div id="menuDiv" class="col-12 bg-dark text-white fixed-bottom">
					
				<div class="d-flex align-items-center justify-content-center h-100">
					
					<!-- Previous Img Button -->
					
					<!-- md, lg, xl -->
					<a class="d-none d-md-inline btn btn-lg btn-outline-info px-3 px-md-5 text-white" href="/gallery/<%= paramsId %>/<%= gallery.imgs[indxBack]._id %>"> <i class="fas fa-chevron-left"></i> </a>
					
					<!-- xs, sm -->
					<a class="d-inline d-md-none btn btn-outline-info px-3 px-md-5 text-white" href="/gallery/<%= paramsId %>/<%= gallery.imgs[indxBack]._id %>"> <i class="fas fa-chevron-left"></i> </a>
					
					
					<!-- Return to Gallery Button -->
					
					<!-- md, lg, xl -->
					<a class="d-none d-md-inline btn btn-lg btn-outline-info justify-self-end ml-4 mr-3" href="/gallery/<%= paramsId %>">Back to Gallery</a>
					
					<!-- xs, sm -->
					<a class="d-inline d-md-none btn btn-outline-info justify-self-end ml-4 mr-3" href="/gallery/<%= paramsId %>">Back</a>
					
					<!-- Like Button -->
					
					
					<!-- md, lg, xl -->
					<a class="d-none d-md-inline btn btn-lg btn-outline-info mr-4">Like (1)</a>
					
					<!-- xs, sm -->
					<a class="d-inline d-md-none btn btn-outline-info mr-4">Like (1)</a>
					
					
					<!-- Next Img Button -->
					
					<!-- md, lg, xl -->
					<a class="d-none d-md-inline btn btn-lg btn-outline-info px-3 px-md-5 text-white" href="/gallery/<%= paramsId %>/<%= gallery.imgs[indxNext]._id %>"> <i class="fas fa-chevron-right"></i> </a>
					
					<!-- xs, sm -->
					<a class="d-inline d-md-none btn btn-outline-info px-3 px-md-5 text-white" href="/gallery/<%= paramsId %>/<%= gallery.imgs[indxNext]._id %>"> <i class="fas fa-chevron-right"></i> </a>
						
					</div>
	
				</div>
				
			</div>

	  	</div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	

   
    <!-- Bootstrap jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	  
	  
  </body>
	
</html>