<%- include("../partials/header") %>


<!-- Jumbotron -->
<header>
	<div class="container mt-3">
		
		<div class="row mr-1">
			<div class="col-12 mb-3">
				
				<!-- show edit and delete buttons only if current user is author or admin -->
				<% if(currentUser && gallery.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>

					<!-- Delete button -->
					<form class="d-inline float-right" action="/gallery/<%= gallery._id %>?_method=DELETE" method="POST">
						<input class="btn btn-sm btn-danger mx-auto" type="submit" value="Delete">
					</form>

					<!-- Edit button -->
					<a class="btn btn-sm btn-warning float-right mx-1" href="/gallery/<%= gallery._id %>/edit">Edit</a>

				<% } %>

				
				<!-- Follow / Stop following -->
				<% if(currentUser && !currentUser._id.equals(gallery.author.id)){ %>

					<!-- dark mode -->
					<a class="btn btn-sm float-right mt-2 galleryFollowBtn

						<% if(currentUser && currentUser.darkMode){ %>
							darkModeBtn					  
						<% }else{ %>
							btn-success 
						<% } %>

						" href="/follow/<%= user.id %>">

						<!-- change text from follow to stop following -->
						<% if(user.followers.some(function(follower){ %>
							<% return follower.equals(currentUser._id); %>
						<% })){ %>
							Unfollow
						<% }else{ %>
							Follow
						<% } %>	
					</a>
				
				<% }else if(!currentUser){ %>
				
					<a class="btn btn-sm btn-outline-info float-right galleryFollowBtn" href="/follow/<%= user.id %>"> Follow </a>
				
				<% } %>
			
			</div>
		</div>
    	
		<!-- dark mode -->
		<div class="jumbotron pt-xl-4 pl-md-5 py-2 mb-0
					
					<% if(currentUser && currentUser.darkMode){ %>
						darkModeJumbotron
					<% }else{ %>
						lightJumbotron
					<% } %>
					
					">
        	
			<!-- title -->
			<!-- xs, sm -->
			<h2 class="d-block d-md-none pl-md-4 mb-2 mb-xl-3 showTitle"> <i class="fas fa-camera-retro"></i> <%= gallery.title %> </h2>
			<!-- md, lg, xl -->
			<h1 class="d-none d-md-block display-4 mb-2 mb-xl-3 text-muted"> <i class="fas fa-camera-retro text-dark"></i> <%= gallery.title %>  </h1>
        
			
			<!-- Author, date, followers, connected gallery -->
			
			<!-- dark mode -->
			<div class=" 
						
				<%if(currentUser && currentUser.darkMode){ %>
					text-muted
				<% } %>
						
				">
				
				<!-- author -->
				<p class="mb-2"> <strong> Author: </strong> <a class="text-info" href="/profile/<%= gallery.author.id %>"> <%= gallery.author.username %> </a> </p>
				
				<!-- date -->
				<p class="mb-2"> <strong> Date: </strong> <%= gallery.created.toDateString() %> </p>
				
				<!-- number of followers and modal button -->
				<p class="mb-2"> <strong> Followers: </strong> 
					<a class="text-info" type="badge" data-toggle="modal" data-target="#followers"> <%= user.followers.length %> </a> 
				</p>
				
				<!-- total likes of all pics in this gallery -->
				<p class="d-inline mb-2">
					<strong> Likes: </strong> 
					
					<!-- calculate all the likes inside the gallery -->
					<% var numOfLikes = 0; %>
						<% gallery.imgs.forEach(function(img, i){ %>
							<% numOfLikes = numOfLikes + img.likes.length; %>
						<% }); %>
					
					<!-- display total likes number -->
					<%= numOfLikes %>
					
				</p>
				
				
				<!-- related journal -->
				<p class="mb-2 mb-xl-3 mt-2"> <strong> Related Journal: </strong>
					
					<!-- change message depending on their number -->
					<% if(blogs.length === 0){ %>
							
						<% if(currentUser && gallery.author.id.equals(currentUser._id)){ %>
							Create a link to this Gallery from your <a class="text-info" href="/profile/<%= gallery.author.id %>">Journals</a>
						<% }else{ %>
							No Journal linked to Gallery
						<% } %>
					
					<% }else if(blogs.length === 1){ %>
						<a class="text-info" href="/blog/<%= blogs[0]._id %>">
							<%= blogs[0].title %>
						</a>
						
					<% }else{ %>
						<%= blogs.length %> Journals - find them <a class="text-info" type="badge" data-toggle="modal" data-target="#linkedBlogs"> here</a>!						
					<% } %>
					
				</p>
			
			</div>

    	</div>
							
	</div>
</header>


<!-- Display all imgs -->
<main>
	<div class="container">
		
		<div class="row my-3 mb-5">

			<% gallery.imgs.forEach(function(img, i){ %>

				<!-- img -->
				<div id="gallery" class="col-sm-6 col-lg-4">
					
					<a href="/gallery/<%= paramsId %>/show/<%= img.id %>">
					
						<!-- dark mode -->
					<img class="galleryImgs my-2 img-fluid
											  
						<% if(currentUser && currentUser.darkMode){ %>
							darkModeImgThumbnail					  
						<% }else{ %>
							img-thumbnail
						<% } %>				  
											  
						" src="<%= img.img %>">	
					
					</a>
					
				</div>

			<% }); %>
		</div>
	</div>
</main>





<!-- Follower Modal to show who follows the user - this is shown only if the current user is the bologs author -->
	<div id="followers" class="modal fade" role="dialog">
    	<div class="modal-dialog">
        	<!-- Modal content-->
        	<div class="modal-content">
            	<div class="modal-header">
					<h4 class="modal-title">Number of Followers: <%= user.followers.length %></h4>
            	</div>
            	<div class="modal-body">
                	<table class="table table-striped">
                    	<thead>
                    		<tr>
                        		<th>Followers:</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<% user.followers.forEach(function(follower) { %>
                        		<tr>
                            		<td><span class="badge"><i class="fas fa-user"></i></span> <%= follower.username %></td>
                        		</tr>
                    		<% }); %>
                    		<% if (user.followers.length === 0) { %>
                        		<tr>
                            		<td><em>No followers yet.</em></td>
                        		</tr>
                    		<% } %>
                    	</tbody>
                	</table>
            	</div>
            	<div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
        	</div>
    	</div>
	</div>


<!-- Follower Modal to show who follows the user - this is shown only if the current user is the bologs author -->
	<div id="linkedBlogs" class="modal" role="dialog">
    	<div class="modal-dialog">
        	<!-- Modal content-->
        	<div class="modal-content">
            	<div class="modal-header">
					<h4 class="modal-title">Linked Journals:</h4>
            	</div>
            	<div class="modal-body">
                	<table class="table table-striped">
                    	<tbody>
                    		<div class="list-group">
								<% blogs.forEach(function(blog){ %>
									<a class="list-group-item list-group-item-action" href="/blog/<%= blog._id %>"> <%= blog.title %> </a>
								<% }); %>
							</div>
                    	</tbody>
                	</table>
            	</div>
            	<div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
        	</div>
    	</div>
	</div>


<%- include("../partials/footer") %>