<%- include("../partials/header") %>


<h1> <%= gallery.text %> </h1>

<% gallery.imgs.forEach(function(img){ %>
	<img src="<%= img.img %>">
	<form action="/gallery/<%= gallery._id %>/like/<%= img._id %>" method="POST">
		<button>
			<div class="btn-group">
            	<% if (currentUser && img.likes.some(function (like) {
                	return like.equals(currentUser._id)
            	})) { %>
                	<button class="btn btn-primary">
                    	<i class="fas fa-thumbs-up"></i> Liked (<%= img.likes.length %>)
                	</button>
            	<% } else { %>
                	<button class="btn btn-secondary">
                    	<i class="fas fa-thumbs-up"></i> Like (<%= img.likes.length %>)
                	</button>
            	<% } %>
            	<button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                    data-target="#blogLikes">See more details</button>
        	</div>
		</button>	
	</form>
<% }); %>


<%- include("../partials/footer") %>