<%- include("../partials/header") %>

<!-- style for CSS -->
<style>
	body{
		margin-top: 70px;
	}
</style>


<!-- Jumbotron -->
<header>
	<div class="container">
    	
		<!-- dark mode -->
		<div class="jumbotron pl-md-5 pt-0 pt-md-3 pb-5
					
					
					<% if(currentUser && currentUser.darkMode){ %>
						darkModeJumbotron
					<% }else{ %>
						lightJumbotron
					<% } %>
					
					">
			
			<!-- show edit and delete buttons only if current user is author or admin -->
			<% if(currentUser && gallery.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					
				<!-- Delete button -->
				<form class="d-inline float-right" action="/gallery/<%= gallery._id %>?_method=DELETE" method="POST">
					<input class="btn btn-sm btn-danger mx-auto" type="submit" value="Delete">
				</form>
				
				<!-- Edit button -->
				<a class="btn btn-sm btn-warning float-right mx-1" href="/gallery/<%= gallery._id %>/edit">Edit</a>
				
			<% } %>
        
			<br>
			
			<!-- title -->
			
			<!-- xs, sm -->
			<h2 class="d-block d-md-none pl-md-4 py-3" style="font-weight: 300;"> <i class="fas fa-camera-retro"></i> <%= gallery.title %> </h2>
			
			<!-- md, lg, xl -->
			<h1 class="d-none d-md-block display-4"> <i class="fas fa-camera-retro"></i> <%= gallery.title %>  </h1>
        
			
			<!-- Author, date, followers, connected gallery -->
			
			<!-- dark mode -->
			<div class="mt-3 
						
				<%if(currentUser && currentUser.darkMode){ %>
					text-secondary
				<% } %>
						
				">
				
				<!-- author -->
				<p> <strong> Author: </strong> <a class="text-info" href="/profile/<%= gallery.author.id %>"> <%= gallery.author.username %> </a> </p>
				
				<!-- date -->
				<p> <strong> Date: </strong> <%= gallery.created.toDateString() %> </p>
				
				
				<!-- number of followers and modal button -->
				<p> <strong> Followers: </strong> 
					<a class="text-info" type="badge" data-toggle="modal" data-target="#followers"> <%= user.followers.length %> </a> 
				</p>
				
				
				
				<!-- related journal -->
				<p> <strong> Related Journal: </strong> / </p>
				
				<p class="d-inline">
					<strong> 
						Total likes: 
					</strong> 
					
					<!-- calculate all the likes inside the gallery -->
					<% var numOfLikes = 0; %>
						<% gallery.imgs.forEach(function(img, i){ %>
							<% numOfLikes = numOfLikes + img.likes.length; %>
						<% }); %>
					
					<!-- display total likes number -->
					<%= numOfLikes %>
				</p>
			
				<!-- Follow / Stop following -->
				<% if(currentUser && !currentUser._id.equals(gallery.author.id)){ %>

					<!-- dark mode -->
					<a class="btn btn-sm float-right mt-2 
													  
						<% if(currentUser && currentUser.darkMode){ %>
							darkModeBtn					  
						<% }else{ %>
							btn-info 
						<% } %>
													  
						" href="/follow/<%= user.id %>" style="min-width: 250px">
							
						<!-- change text from follow to stop following -->
						<% if(user.followers.some(function(follower){ %>
							<% return follower.equals(currentUser._id); %>
						<% })){ %>
							Unfollow
						<% }else{ %>
							Follow
						<% } %>	
					</a>
				
				<% }else if(!currentUser){ %>
				
					<a class="btn btn-sm btn-outline-info mb-3 float-right mt-2" href="/follow/<%= user.id %>" style="min-width: 250px;"> Follow </a>
				
				<% } %>
			
			</div>

    	</div>
	</div>
</header>


<!-- Display all imgs -->
<main>
	<div class="container">
		<div class="row" id="gallery" data-toggle="modal" data-target="#exampleModal">
			
			<% gallery.imgs.forEach(function(img, i){ %>
				

				<!-- img -->
				<div class="col-sm-6 col-lg-4">
					<img id="<%= i %>" class="my-2 img-fluid
											  
						<% if(currentUser && currentUser.darkMode){ %>
							darkModeImgThumbnail					  
						<% }else{ %>
							img-thumbnail
						<% } %>				  
											  
						" src="<%= img.img %>" style="width: 100%; height: 200px; object-fit: cover">	
				</div>
				
			
				<!-- save indx of clicked image, in order to acces that img in the modal -->
				
			
	
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">

							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>

							<div class="modal-body">
								
								
				
								
								<img src="<%= gallery.imgs[0].img %>">
								
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>

						</div>
					</div>
				</div>
			
			<% }); %>
		</div>
	</div>
</main>


<% gallery.imgs.forEach(function(img, i){ %>
	<img src="<%= img.img %>">
	<form action="/gallery/<%= gallery._id %>/like/<%= img._id %>" method="POST">
		<button>
			<div class="btn-group">
            	<% if (currentUser && img.likes.some(function (like) {
                	return like.equals(currentUser._id)
            	})) { %>
                	<button class="btn btn-primary">
                    	<i class="fas fa-thumbs-up"></i> Liked (<%= img.likes.length %>)
                	</button>
            	<% } else { %>
                	<button class="btn btn-secondary">
                    	<i class="fas fa-thumbs-up"></i> Like (<%= img.likes.length %>)
                	</button>
            	<% } %>
				<!-- add img._id to the button beneath each img -->
            	<button id="<%= img._id %>" type="button" class="whoLiked btn btn-sm btn-default" data-toggle="modal"
                    data-target="#pictureLikes">See more details
				</button>
        	</div>
		</button>	
	</form>
<% }); %>


<!-- Follower Modal to show who follows the user - this is shown only if the current user is the bologs author -->
	<div id="followers" class="modal fade" role="dialog">
    	<div class="modal-dialog">
        	<!-- Modal content-->
        	<div class="modal-content">
            	<div class="modal-header">
					<h4 class="modal-title">Number of Followers: <%= user.followers.length %></h4>
            	</div>
            	<div class="modal-body">
                	<table class="table table-striped">
                    	<thead>
                    		<tr>
                        		<th>Followers:</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<% user.followers.forEach(function(follower) { %>
                        		<tr>
                            		<td><span class="badge"><i class="fas fa-user"></i></span> <%= follower.username %></td>
                        		</tr>
                    		<% }); %>
                    		<% if (user.followers.length === 0) { %>
                        		<tr>
                            		<td><em>No followers yet.</em></td>
                        		</tr>
                    		<% } %>
                    	</tbody>
                	</table>
            	</div>
            	<div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
        	</div>
    	</div>
	</div>


<%- include("../partials/footer") %>