<%- include("../partials/header") %>

<div class="container">
	
	<div class="row text-center mt-5">
		<a href="/profile/<%= user._id %>">Go Back</a>
		<h1 class="mx-auto mb-4">
			<% if(user.img.length < 1 || user.about.length < 1){ %>
				Add a profile picture and description!
			<% }else{ %>
				Update profile picture and description
			<% } %>
		</h1>
	</div>
	
	<div class="row">
		<div class="col-lg-8 mx-auto">
			
			<!-- form -->
			<form class="my-2" action="/profile/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				
				<!-- picture -->
				<div class="form-group">
					<label for="profileImg"> <strong> Profile Picture </strong> </label>
				  	<div class="custom-file">
						<input id="profileImg" class="custom-file-input" type="file" name="img" accept="image/*">
						<label class="custom-file-label" for="profileImg">Choose file</label>
				  	</div>
				</div>
				
				<!-- about -->
				<div class="form-group">
					<label for="profileAbout"> <strong> About You </strong> </label>
					<textarea id="profileAbout" class="form-control" name="user[about]" rows="15"> <%= user.about %> </textarea> 
				</div>
				
				<!-- personal data -->
				<p>
					<strong>Personal Data</strong>
				</p>
				<p> <small> If you'd like, you can share your personal data with others. This can help you in meeting new friends, finding travell buddies, and promoting your business. Information on how your personal data is being processed can be found <a href="/privacy">here</a>.</small> </p>
				
				
				
				<div class=form-group>
					<label for="pdName">Full Name</label>
					<input id="pdName" class="form-control pdInput" type="text" name="personalData[Name]" placeholder="John Smith" value="<%= user.personalData.Name %>">
				</div>
				
				<div class=form-group>
					<label for="pdGender">Gender</label>
					<input id="pdGender" class="form-control pdInput" type="text" name="personalData[Gender]" placeholder="Male, Female, Transgender, Other" value="<%= user.personalData.Gender %>">
				</div>
				
				<div class=form-group>
					<label for="pdLocation">Location</label>
					<input id="pdLocation" class="form-control pdInput" type="text" name="personalData[Location]" placeholder="Brussels, Belgium" value="<%= user.personalData.Location %>">
				</div>
				
				<div class=form-group>
					<label for="pdProfession">Profession</label>
					<input id="pdProfession" class="form-control pdInput" type="text" name="personalData[Profession]" placeholder="Professional tour guide" value="<%= user.personalData.Profession %>">
				</div>
				
				<div class=form-group>
					<label for="dbContact">Contact</label>
					<input class="form-control pdInput" type="text" name="personalData[Contact]" placeholder=" email, phone, website, linkedIn..." value="<%= user.personalData.Contact %>">
				</div>
				
				<div class=form-group>
					<label for="pdHobbies">Hobbies</label>
					<input id="pdHobbies" class="form-control pdInput" type="text" name="personalData[Hobbies]" placeholder="Guitar, cooking, hiking" value="<%= user.personalData.Hobbies %>">
				</div>
				
				<div class=form-group>
					<label for="pdRelationship">Relationship Status</label>
					<input class="form-control pdInput" type="text" name="personalData[Relationship]" placeholder="Happily married." value="<%= user.personalData.Relationship %>">
				</div>
				
				<button class="btn btn-primary btn-block mb-4">Submit!</button>
			</form>
			
		</div>
	</div>
</div>







    <!-- Bootstap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<script>
	
	// If user did not enter any personal data, placeholder will fill in the input area. However, if user has provided certain personal data - and not all personal data - we want to hide all placeholders, as displaying them offers bad user experience. I.e. user leaves empty hobbies, and when he retunrs to the edit page, he is wondering if the placeholder is a placeholder or the data that is showed to other users.
	
	$(".pdInput").each(function(){
		// if even one input is filled in, then all inputs will be without placeholders
		if($(this).attr("value") !== ""){
			$(".pdInput").each(function(){
				$(this).removeAttr("placeholder");
			}); 
		}					   
	});
			
</script>


  </body>
</html>