<%- include("../partials/header") %>


<!-- title, num of followers, delete/follow button -->
<header>
	<div class="container text-center my-5">
		
		<!-- Edit & Delete profile -->
		<% if(currentUser && currentUser._id.equals(user.id)  || currentUser && currentUser.isAdmin){ %>
			<a class="btn btn-sm btn-danger float-right mr-2" href="/profile/<%= user.id %>/delete">Delete</a>	
			<a class="btn btn-sm btn-warning float-right mr-2" href="/profile/<%= user.id %>/edit">Edit</a>
		<% } %>	
		
		<!-- Follow / Stop following -->
		<% if(currentUser && !currentUser._id.equals(user.id)){ %>
			<a class="btn btn-success float-right" href="/follow/<%= user.id %>">
				<!-- change text from follow to stop following -->
				<% if(user.followers.some(function(follower){ %>
					<% return follower.equals(currentUser._id); %>
				<% })){ %>
					Unfollow
				<% }else{ %>
					Follow
				<% } %>
			</a>
		<% }else if(!currentUser){ %>
			<a class="btn btn-outline-success float-right" href="/follow/<%= user.id %>"> Follow </a>
		<% } %>
		
		<br>
		
		<!-- title -->
		<h1 class="display-4 mt-3"><%= user.username %>'s profile</h1>
		
		<!-- num of followers -->
		<p class="text-center"> Followers: <%= user.followers.length %> </p> 
		
		<hr>
		
	</div>
</header>


<div class="container">
	<form action="/darkMode?_method=PUT" method="POST">
		<button>
			Try the Dark Mode!
		</button>
	</form>
</div>





<!-- User img & description -->
<main>
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6">
				<div class="d-flex justify-content-center">
					<!-- img -->
					<img class="img-fluid rounded-circle img-thumbnail m-auto" src="<%= user.img %>" style="height: 270px; width: 270px; object-fit: cover;">	
				</div>
			</div>

			<div class="col-md-6">
				<!-- about and personal data -->
				<div class="p-3" style="max-height: 270px; width: 100%; overflow: auto; overflow-x: hidden;">
					<div class="cart-text">
						
						<!-- about -->
						<label for="aboutMe"> <strong> About Me </strong> </label>
						<p id="aboutMe"> <%= user.about %> </p>
						
						<!-- personal data -->		
						<label for="personalData"> <strong> Personal Data </strong> </label>
						<div id="personalData">
							
							
							
							<% for(let i = 0; i < Object.keys(user.personalData).length; i++){ %>
								<% if(user.personalData[i] !== ""){ %>
									<p> <%= Object.values(user.personalData) %> </p>						
								<% } %>											
							<% } %>
						
						</div>
						
					</div>
				</div>
				
				
					
				
			</div>
		</div>
		
		<hr>
		
	</div>
</main>


<!-- display published journals and galleries -->
<footer>
	<div class="container">
		<div class="row mb-5">
		
			<!-- list of published journals -->
			<div class="col-md-6 d-flex justify-content-center">	
				<div>
					<h4 class="my-4">Published Journals:</h4>
					<ul>
						<% if(blogs && blogs.length !== 0){ %>
						<% blogs.forEach(function(blog){ %>
							<li> <a href="/blog/<%= blog._id %>"> <%= blog.title %> </a> </li>
						<% }) %>
						<% }else{ %>
							<li>No published Journals</li>
							<li> <a href="/blog/new">Create Journal</a> </li>
						<% } %>
					</ul>
				</div>
			</div>
			
			
			<!-- list of published galleries -->
			<div class="col-md-6 d-flex justify-content-center">
				<div>
					<h4 class="my-4">Published Albums</h4>
					<ul>
						<% if(galleries && galleries.length !== 0){ %>
						<% galleries.forEach(function(gallery){ %>
							<li> <a href="/gallery/<%= gallery._id %>"> <%= gallery.title %> </a> </li>
						<% }); %>
						<% }else{ %>
							<li>No published Albums</li>
							<li> <a href="/gallery/new">Create Album</a> </li>
						<% } %>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
</footer>


<%- include("../partials/footer") %>