<!-- header is custom on the index pages, because of the navbar search input, there is also some button and icon customization -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d7c2cf6d44.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<title>Intense Traveller</title>
	</head>
<body>
	
	
<!-- Navbar, Flash messages, Carousel, Jumbotron -->
<header>
	
	
	<!-- Navbar -->
	<section>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-none fixed-top mb-2">

			<a class="navbar-brand" href="/"> <em>Intense Traveller</em> </a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			
			<!-- content -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<!-- items on the left -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/blog"> <i class="fas fa-feather-alt"></i> Journal <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link mr-3" href="/gallery"> <i class="fas fa-camera"></i> Gallery </a>
					</li>
					<!-- search form -->
					<form action="/blog" method="GET" class="form-group my-2 my-lg-0">
						<div class="input-group">
							<input class="form-control mr-sm-2" type="text" name="search" placeholder="Search by Journal name" aria-label="Search">
							<div class="input-group-append mt-0 pt-0">
								<button class="btn btn-light" type="submit"> <i class="fas fa-search"></i> </button>
					  		</div>
						</div>
					</form>	
				</ul>

				
				<!-- items on the right -->
				<ul class="navbar-nav ml-auto">
					<!-- decide what to show based on wheather or not the user is logged in -->

					<% if(!currentUser){ %>

						<!-- if user is not logged in, show logIn and SignUp links -->
						<li class="nav-item active">
							<a class="nav-link" href="/register"> <i class="fas fa-user-plus"></i> SignUp</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/login"> <i class="fas fa-user"></i> LogIn</a>
						</li>

					<% }else{ %>

						<!-- notifications dropdown -->
						<li class="nav-item dropdown">
							<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge"><%= notifications.length %></span> </a>

							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">

								<!-- link to all notifications -->
								<li> 
									<a class="dropdown-item" href="/notifications">Past notifications</a> 
								</li>
								<div class="dropdown-divider">
								</div>

								<!-- show unseen notifications -->
								<% notifications.forEach(function(notification) { %>                          
									<a class="dropdown-item" href="/notifications/<%= notification.id %>"> 
										<%= notification.username %> published a new 
											<% if(notification.gallery){ %> 
												Gallery	
											<% }else{ %> 
												Journal 
										<% } %>
									</a>
								<% }); %>
							</ul>
						</li>	

						<!-- user profile link -->
						<li class="nav-item active">
							<a class="nav-link" href="/profile/<%= currentUser._id %>">Logged in as <em> <%= currentUser.username %> </em> </a>
						</li>

						<!-- logOut button -->
						<li class="nav-item ml-md-5">
							<a class="nav-link" href="/logout">LogOut</a>
						</li>
					<% } %>
				</ul>
			</div>
		</nav>

	</section>
	
	
	<!-- req.flash error and success messages -->
	<section>
	
		<div class="container mt-5">
			<% if(error && error.length > 0){ %>
				<div id="to-front" class="alert alert-danger" role="alert">
					<%= error %> 
				</div>
			<% } %>
			<% if(success && success.length > 0){ %>
				<div id="to-front" class="alert alert-success" role="alert">
					<%= success %> 
				</div>
			<% } %>
		</div>
			
	</section>
	
	
	<!-- Carousel -->
    <section>
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>
	
		
	<!-- Jumbotron -->
	<section>
		<div class="container text-center">
			<div id="content" class="jumbotron">
				<h1 class="display-3 mx-3"> <em>Intense Traveller</em></h1>
				<p class="lead d-none d-md-inline"> <em> Write travel Journals, publish picture Galleries, Follow your favorite travellers, and more . . .  </em> </p>
				<hr>
				<a class="btn btn-lg btn-success" href="/blog/new" role="button"> <i class="fas fa-feather-alt mr-2"></i> Write a New Journal</a>
			</div>
		</div>
	</section>

</header>