<%- include("../partials/header") %>

<h1> Edit <%= blog.title %> </h1>

<form action="/blog/<%= blog._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
	<input type="text" name="blog[title]" value="<%= blog.title %>">
	<input type="file" name="img" accept="image/*">
	<input type="text" name="blog[content]" value="<%= blog.content %>">
	<button>Submit</button>
</form>

<a href="/blog">Back</a>



<%- include("../partials/footer") %>