<%- include("../partials/header") %>


<!-- Jumbotron -->
<header>
	<div class="container text-center">
		<div class="jumbotron" style="background-color: white">
  			<h1 class="display-3"> <em>Intense Traveller</em></h1>
			<p class="lead"> <em> Create Travel Journals, add Picture Galleries, Follow your favorite travellers, and more . . .  </em> </p>
  			<hr class="my-4">
			<a class="btn btn-lg btn-primary" href="/blog/new" role="button">Write a New Journal</a>
  			
		</div>
	</div>
</header>


<!-- display all journals -->
<main>
	<div class="container-lg">
		
		<% blogs.forEach(function(blog){ %>
			
			<!-- card for each journal -->
			<div class="card my-5 mx-xl-5 pb-4 border-top-0 border-right-0 border-left-0" style="overflow: hidden">
				<div class="row no-gutters">
					
					<!-- img -->
					<div class="col-md-4">
      					<img class="card-img img-thumbnail" style="height: 250px; width: 100%; object-fit: cover" src="<%= blog.img %>">
    				</div>
					
					<!-- title, text, likes and readMe button -->
					<div class="col-md-8">
      					<div class="card-body d-flex flex-column" style="height: 250px">
        					
							<!-- title -->
							<h2 class="card-title display-6"> <%= blog.title %> </h2>
							
							<!-- short description shown only on this index page -->
							<p class="card-text"> <em> <%= blog.description %> </em> </p>	
							
							<!-- author name, number of likes and readMe button -->
							<div class="mt-auto">
								<p>
									<span class="mx-3"> Posted by:   
										<a href="/profile/<%= blog.author.id %>"><%= blog.author.username %>
										</a> 
									</span>
									<span> 
										<i class="fas fa-thumbs-up"></i> <%= blog.likes.length %>
									</span>
								</p>
								<a class="btn btn-primary btn-block" href="/blog/<%= blog._id %>">Read Me</a>
							</div>
      					</div>
   					</div>
    			</div>
			</div>
		<% }); %>
	</div>
</main>


<%- include("../partials/footer") %>