<%- include("../partials/header") %>


<header>	
	<div class="container">
		<!-- Navbar -->
		<div class="jumbotron mt-3" style="background-color: white">
  			<h1 class="display-4"> <em>Intense Traveller</em></h1>
			<p class="lead"> <em> Write a Travel Journal, add Pictures, Follow your favorite travellers, and more . . .  </em> </p>
  			<hr class="my-4">
  			<a class="btn  btn btn-outline-primary btn-lg" href="/blog/new" role="button">Create New Journal</a>
  			<a class="btn  btn-outline-success btn-lg" href="/gallery/new" role="button">Create New Gallery</a>
		</div>
	</div>
</header>

<main>
	
	
	<div class="container">
		<% blogs.forEach(function(blog){ %>
			<div>
				<h2><%= blog.title %></h2>
				<img src="<%= blog.img %>">
				<p> <%= blog.content %> </p>
				<p class="badge label-primary"> <i class="fas fa-thumbs-up"></i> <%= blog.likes.length %> </p>
				<a href="/blog/<%= blog._id %>">Read Me</a>
			</div>
		<% }); %>
	</div>
</main>






































   




<%- include("../partials/footer") %>