<%- include("../partials/header") %>


<header>	
	<div class="container">
		<!-- Jumbotron -->
		<div class="jumbotron mt-3" style="background-color: white">
  			<h1 class="display-4"> <em>Intense Traveller</em></h1>
			<p class="lead"> <em> Write a Travel Journal, add Pictures, Follow your favorite travellers, and more . . .  </em> </p>
  			<hr class="my-4">
			<a class="btn  btn btn-outline-primary btn-lg" href="/blog/new" role="button">Create New Journal</a>
  			<a class="btn  btn-outline-success btn-lg" href="/gallery/new" role="button">Create New Gallery</a>
		</div>
	</div>
</header>

<main>	
	<div class="container-lg">
		<!-- show all journals -->
		<% blogs.forEach(function(blog){ %>
		
			<div class="card my-3" style="overflow: hidden">
				<div class="row no-gutters">
					
					<div class="col-xl-4">
      					<img class="card-img img-thumbnail" style="height: 250px; width: 100%; object-fit: cover" src="<%= blog.img %>">
    				</div>
					
					<div class="col-xl-8">
      					<div class="card-body" style="height: 250px">
        					<h2 class="card-title display-6"> <%= blog.title %> </h2>
							<p class="card-text"> <em> <%= blog.description %> </em> </p>	
							
							<p>
								<span class="mx-3"> Posted by: <%= blog.author.username %> </span>
								<span class=""> <i class="fas fa-thumbs-up"></i> <%= blog.likes.length %> </span>
							</p>
							<a class="btn btn-primary btn-block" href="/blog/<%= blog._id %>">Read Me</a>
      					</div>
   					</div>
    			</div>
			</div>
		<% }); %>
	</div>
	

</main>






































   




<%- include("../partials/footer") %>