<%- include("../partials/header") %>


<!-- Link Journal to a Gallery -->
<div class="container">
	
	<!-- Title -->
	<div class="row text-center my-5">
		<a href="/blog/<%= blog.id %>">Go Back</a>
		<h1 class="mx-auto display-4"> Connect <em>  <%= blog.title %> </em>  with a Gallery</h1>
	</div>
	
	<!-- Show each Gallery created by the same user -->
	<div class="row">
			
			<% galleries.forEach(function(gallery){ %>
				<div class="col-sm-12 col-md-4 col-xl-3">
					
					<!-- dark mode -->
					<div class="card mt-5 mx-sm-5 mx-md-0 border border-light
								
						<% if(currentUser && currentUser.darkMode){ %>
							border-dark bg-dark		
						<% } %>		
						
						">

						<div class="text-white linkOverImg">
							<!-- show first img from the gallery -->
							<img class="card-img-top linkImg" src="<%= gallery.imgs[0].img %>">
							
							<!-- num of imgs -->
							<p class="card-text">
								<span class="linkOverImg1"> <i class="fas fa-images"></i> <%= gallery.imgs.length %> </span>		
							</p>
							
							<!-- view -->
							<a class="d-inline float-right btn btn-sm btn-light text-dark linkOverImg2" href="/gallery/<%= gallery._id %>"> <i class="fas fa-eye"></i> </a>
						
						</div>
						
						<div>
							
									
							<!-- title -->
							<!-- depending on screen size cut the title -->
							<h6 class="d-block d-md-none card-title text-center">
								<% if(gallery.title.length > 50){ %>
									<%= gallery.title.substring(0, 50) %> ... </h6>	
								<% }else{ %>
									<%= gallery.title %>
								<% } %>

							<h6 class="d-none d-md-block d-lg-none card-title text-center">
								<% if(gallery.title.length > 22){ %>
									<%= gallery.title.substring(0, 22) %> ... </h6>
								<% }else{ %>
									<%= gallery.title %>
								<% } %>

							<h6 class="d-none d-lg-block d-xl-none card-title text-center">
								<% if(gallery.title.length > 22){ %>
									<%= gallery.title.substring(0, 30) %> ... </h6>
								<% }else{ %>
									<%= gallery.title %>
								<% } %>

							<h6 class="d-none d-xl-block card-title text-center">
								<% if(gallery.title.length > 22){ %>
									<%= gallery.title.substring(0, 30) %> ... </h6>	
								<% }else{ %>
									<%= gallery.title %>
								<% } %>

						</div>
								
					</div>
					
					
					<!-- link form -->
						<div class="mt-0">
							
							<form class="d-inline" action="/blog/link/<%= blog._id %>?_method=PUT" method="POST">
								<input type="hidden" name="link" value="<%= gallery._id %>">

									<!-- check if link already exists -->
									<% let foundLink = blog.link.some(function(link){ %>
										<% if(link){ %>
											<% return link.equals(gallery._id); %>
										<% } %>
										
									<% }); %>

									<!-- unlink -->
									<% if(foundLink){ %>
										<button class="btn btn-sm btn-block
											<% if(currentUser && currentUser.darkMode){ %>
												darkModeBtnOutline  
											<% }else{ %>
												btn-outline-success		   
											<% } %>		   
													   
											 ">
										<i class="fas fa-link mx-1"></i> Unlink </button>
									
									<!-- link -->
									<% }else{ %>
										<button class="btn btn-sm btn-block
											
											<% if(currentUser && currentUser.darkMode){ %>
												 darkModeBtn
											<% }else{ %>
												 btn-success
											<% } %>		   
													   
											 ">
										<i class="fas fa-link mx-1"></i> Link </button>
									<% } %>

							</form>
							
						</div>
				</div>
		
			<% }); %>
		
			<% if(galleries.length === 0){ %>
				<div class="col-12 text-center">
					<h5 class="mt-5">
						You have no Galleries. First <a href="/gallery/new">create one</a>.
					</h5>	
				</div>
			<% } %>
			
	</div>
	
</div>


<%- include("../partials/footer") %>