<%- include("../partials/header") %>

<main>
	<!-- POST -->
	<h2><%= blog.title %></h2>
	<img src="<%= blog.img %>">	
	<p><%= blog.content %></p>
	<p> <em>Posted on <%= blog.created.toDateString() %> </em> </p>
	<p>Posted by <a href="/profile/<%= blog.author.id %>"> <em> <%= blog.author.username %> </em> </a> </p>
	
	<!-- Another button to show the likes, you can remove this one or change it -->
	<div class="float-right">
    	<button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#blogLikes">
        	<span>Total likes: <i class="fas fa-thumbs-up"></i> <%= blog.likes.length %></span>
    	</button>
	</div>
	
	<!-- Edit & Delete Buttons -->
	<% if(currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
		<a href="/blog/<%= blog._id %>/edit">Edit</a>
		<form action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>
	<% } %>
	
	
	<a href="/blog">Back</a>
	<hr>
	
	
	<!-- Like button -->
	<div class="pb-5">
    	<form action="/blog/<%= blog._id %>/like" method="POST">
        	<div class="btn-group">
            	<% if (currentUser && blog.likes.some(function (like) {
                	return like.equals(currentUser._id)
            	})) { %>
                	<button class="btn btn-primary">
                    	<i class="fas fa-thumbs-up"></i> Liked (<%= blog.likes.length %>)
                	</button>
            	<% } else { %>
                	<button class="btn btn-secondary">
                    	<i class="fas fa-thumbs-up"></i> Like (<%= blog.likes.length %>)
                	</button>
            	<% } %>
            	<button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                    data-target="#blogLikes">See more details</button>
        	</div>
    	</form>
	</div>
	
	
	<!-- Likes Modal -->
	<div id="blogLikes" class="modal fade" role="dialog">
    	<div class="modal-dialog">
        	<!-- Modal content-->
        	<div class="modal-content">
            	<div class="modal-header">
					<h4 class="modal-title">Likes: <%= blog.likes.length %></h4>
            	</div>
            	<div class="modal-body">
                	<table class="table table-striped">
                    	<thead>
                    		<tr>
                        		<th>Liked by:</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<% blog.likes.forEach(function(like) { %>
                        		<tr>
                            		<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
                        		</tr>
                    		<% }); %>
                    		<% if (blog.likes.length === 0) { %>
                        		<tr>
                            		<td><em>No likes yet.</em></td>
                        		</tr>
                    		<% } %>
                    	</tbody>
                	</table>
            	</div>
            	<div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
        	</div>
    	</div>
	</div>
	

	<!-- Comments -->
	
	<!-- Collapse button -->
	<a role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Write a Comment</a>
	
	<!-- Comment form START-->
  	<div class="collapse" id="collapseComment">
		<% if(!currentUser) { %>
			<!--If the user is not logged in, direct him to the login page -->
			<h5>You need to login. <a href="/login">Click here</a> to go to the login page.</h5>
			<% } %>
			<% if(currentUser) { %>
				<!--If the user is logged in, show the new comment form-->
				<form id="add-comment-form" action="/blog/<%= blog._id %>/comment" method="POST">
					
						<textarea class="form-control" name="comment[text]" placeholder="comment..." form="add-comment-form" rows="2" cols="70"></textarea>
						<button>Comment</button>
				</form>
			<% } %>
 	</div>
  	<!-- Comment form END-->
	
	<!-- Show comments START -->
	<div>
		<% blog.comments.forEach(function(comment){ %>
			<div>
				<p> <a> <strong> <%= comment.author.username %> </strong> </a>  - <%= comment.text %> </p>
				<!-- if User owns the comment, show edit and delete buttons -->
				<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					
					<!--Edit comment form START-->
					<div class="collapse" id="collapseEdit<%= comment._id %>">
						<form id="edit-comment-form<%= comment._id %>" action="/blog/<%= blog._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
							<textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="2" cols="70"><%= comment.text %></textarea>
							<button>Save changes</button>
						</form>
					</div>
					<!-- Edit comment form END -->
				
					<!--Edit button-->
					<a role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
					<form class="d-inline" action="/blog/<%= blog._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
						<button class="btn btn-link  mb-1">Delete</button>
					</form>	
				<% } %>
				<hr>
			</div>
		<% }); %>	
	</div>
	<!-- Show comments END -->
	
	
</main>
	
<%- include("../partials/footer") %>