<%- include("../partials/header") %>


<!--  blog title -->
<header>
	<div class="container">
		<div class="row mr-4 mt-5 d-flex justify-content-end">
			
			<!-- Edit & Delete Buttons -->
			<div>
				<% if(currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					<a class="btn btn-sm btn-warning" href="/blog/<%= blog._id %>/edit">Edit</a>
					<form class="d-inline" action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
						<button class="btn btn-sm btn-danger">Delete</button>
					</form>
				<% } %>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-lg-3"></div>
			<div class="col-lg-9">
				<!-- xs, sm -->
				<h1 class="d-block d-md-none pl-md-4 py-3 text-center showTitle"> <%= blog.title %> </h1>
				
				<!-- md, lg, xl -->
				<h1 class="d-none d-md-block display-4 pl-md-4 py-3"> <%= blog.title %> </h1>
			</div>
		</div>
	</div>
</header>


<!-- main content -->
<main>
	<section>
		<div class="container">
			<div class="row">
				
				<!-- info -->
				<div class="col-lg-3 order-2 order-lg-1">
					
					<div class="mt-2">
						
						<!-- author -->
						<label class="text-secondary" for="blogAuthor"> <strong>Author</strong> </label>
						<p id="blogAuthor"> <a class="text-info" href="/profile/<%= blog.author.id %>"> <%= blog.author.username %> </a> </p>
						
						<!-- date created -->
						<label class="text-secondary" for="blogDate"> <strong>Date</strong> </label>
						<p id="blogDate"> <%= blog.created.toDateString() %> </p>
						
						<!-- Follow / Stop following -->
						<% if(currentUser && !currentUser._id.equals(blog.author.id)){ %>
							<label class="text-secondary" for="blogFollow"> <strong> Follow this author </strong></label>
							<!-- dark mode -->
							<a id="blogFollow" class="btn btn-sm btn-block mb-3 
													  
								<% if(currentUser && currentUser.darkMode){ %>
									darkModeBtn					  
								<% }else{ %>
									btn-success 
								<% } %>
													  
									" href="/follow/<%= user.id %>">
							
								<!-- change text from follow to stop following -->
								<% if(user.followers.some(function(follower){ %>
									<% return follower.equals(currentUser._id); %>
								<% })){ %>
									Unfollow
								<% }else{ %>
									Follow
								<% } %>	
							</a>
						<% }else if(!currentUser){ %>
							<label class="text-secondary" for="blogFollow"> <strong> Follow this author </strong></label>
							<a id="blogFollow" class="btn btn-sm btn-outline-success d-block mb-3" href="/follow/<%= user.id %>"> Follow </a>
						<% } %>
						
						<!-- number of followers -->
						<label class="text-secondary" for="blogFollowers"> <strong> Followers </strong></label>
						<!-- modal button -->
						<p> <a id="blogFollowers" class="text-info" type="button" data-toggle="modal" data-target="#followers"> <%= user.followers.length %> </a> </p>
						
						<!-- gallery related to this blog -->
						<label class="text-secondary" for="relatedGallery"> <strong>Linked Gallery</strong> </label>

						<!-- for each related galley show a picture -->
						<div class="row">
							
							<!-- number of linked galleries -->
							<div class="col-12">
								
								<!-- if user is author/admin, show number as a link to manage links; else show as string -->
								<% if(currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									
									<a id="relatedGallery" class="text-info" href="/blog/link/<%= blog._id %>">
										<% if(blog.link.length === 0){ %>
											<p> Create a link </p>
										<% }else if(blog.link.length === 1){ %>
											<em> <p> <%= blog.link.length %> Gallery: </p> </em>
										<% }else{ %>
											<em> <p> <%= blog.link.length %> Galleries: </p> </em> 
										<% } %>	
									</a>	
								
								<% }else{ %>
								
									<% if(blog.link.length === 0){ %>
										<p class="ml-3"> / </p>
									<% }else if(blog.link.length === 1){ %>
										<em> <p> <%= blog.link.length %> Gallery: </p> </em>
									<% }else{ %>
										<em> <p> <%= blog.link.length %> Galleries: </p> </em> 
									<% } %>	

									<% } %>
							
							</div>
							
							<% blog.link.forEach(function(link){ %>
								<% if(link){ %>
									<div class="col-6 col-md-4 col-lg-6 px-2">
										<a href="/gallery/<%= link._id %>">
											<img class="d-none d-lg-inline img-responsive showLinkedImg 

												<% if(currentUser && currentUser.darkMode){ %>
													darkModeImgThumbnail		
												<% }else{ %>
													img-thumbnail		
												<% } %>		

												" src="<%= link.imgs[0].img %>">
											
											<img class="d-inline d-lg-none img-responsive showLinkedImg2

												<% if(currentUser && currentUser.darkMode){ %>
													darkModeImgThumbnail		
												<% }else{ %>
													img-thumbnail		
												<% } %>		

												" src="<%= link.imgs[0].img %>">
										</a>
									</div>
								<% } %>
								
							<% }); %>

						</div>
	
					</div>
				</div>
				
				
				<!-- blog picture, like buttons, text  -->
				
				<!-- dark mode -->
				<div class="col-lg-9 order-1 order-lg-2 border-right border-left 
							
					<% if(currentUser && currentUser.darkMode){ %>
						border-secondary
					<% } %>

					">
					
					<!-- image -->
					<div class="card border-0 mx-md-3">
						<img class="card-img-top img-fluid p-1
									
							<% if(currentUser && currentUser.darkMode){ %>
								darkModeImgThumbnail		
							<% }else{ %>
								img-thumbnail
							<% } %>		
											
							" src=" <%= blog.img %>">
					</div>
					
					<!-- date, text, like buttons -->
					<div class="card border-0 mx-md-3">
						
						<!-- like buttons -->
						<ul class="list-group list-group-flush">
							
							<!-- dark mode -->
							<li class="list-group-item 
									   
									   <% if(currentUser && currentUser.darkMode){ %>
									   		darkModeBody
									   <% } %>
									   
									   ">
								<div class="d-flex justify-content-end">
									
									<!-- Like button -->
									<form class="d-inline" action="/blog/<%= blog._id %>/like" method="POST">
										<div>
											<% if (currentUser && blog.likes.some(function (like) { %>
												<% return like.equals(currentUser._id) %>
											<% })) { %>
												<button class="btn btn-sm btn-info">
													<i class="fas fa-thumbs-up"></i> Liked (<%= blog.likes.length %>)
												</button>
											<% } else { %>
												<button class="btn btn-sm btn-primary">
													<i class="fas fa-thumbs-up"></i> Like (<%= blog.likes.length %>)
												</button>
											<% } %>
										</div>
									</form>
									
									<!-- who liked it, modal button -->
									<button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#blogLikes"><i class="fas fa-user-friends text-secondary"></i></button>
									
								</div>
							</li>	
						</ul>
					</div>

					<div class="card border-left-0 border-right-0 border-bottom pb-5 mx-md-3 
								
								<% if(currentUser && currentUser.darkMode){ %>
									darkModeCard border-secondary
								<% } %>

								">
						
						<!-- blog text -->
						<p class="card-text m-2 m-sm-4 mt-5 py-3 px-md-5 showBlogText"> <%= blog.content %> </p>
						
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- Comments -->
	<section>
		<div class="container mt-5">
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-9 px-3">
					<div class="card-footer border-top-0 my-5">
						 <h3 class="d-block d-sm-inline">Comments</h3>
						<!-- Collapse button -->
						
						<!-- dark mode / light mode -->
						<% if(currentUser && currentUser.darkMode){ %>
							
							<!-- sm, md, lg, xl -->
							<div class="d-none d-sm-inline float-right">
							<a class="btn darkModeBtn" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Write a Comment</a>
							<!-- xs -->
							</div>
							<a class="btn darkModeBtn d-block d-sm-none" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Write a Comment</a>							
						
						<% }else{ %>
						
							<!-- sm, md, lg, xl -->
							<div class="d-none d-sm-inline float-right">
							<a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Write a Comment</a>
							<!-- xs -->
							</div>
							<a class="btn btn-success d-block d-sm-none" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Write a Comment</a>						
						
						<% } %>
						


						<hr class="">

						<!-- comment form-->
						<div class="collapse" id="collapseComment">

							<% if(!currentUser) { %>

								<!--If the user is not logged in, direct him to the login page -->
								<h5>You need to login to post a comment. <a href="/login">Click here</a> to go to the login page.</h5>
							<% } %>

							<% if(currentUser) { %>

								<!--If the user is logged in, show the new comment form-->
								<form id="add-comment-form" action="/blog/<%= blog._id %>/comment" method="POST">

									<textarea class="form-control" name="comment[text]" placeholder="comment..." form="add-comment-form" rows="2" cols="70"></textarea>
									
									<!-- dark mode -->
									<button class="btn btn-sm my-2
												   
										<% if(currentUser && currentUser.darkMode){ %>
											darkModeBtn		   	
										<% }else{ %>
											btn-success		   
										<% } %>
												   
											">Comment</button>
								</form>
							<% } %>
							<hr>
						</div>

						<!-- display comments -->
						<div class="mt-3">

							<% blog.comments.forEach(function(comment){ %>

								<div class="px-3">
									
									<!-- dark mode -->
									<a class="
									   
									   <% if(currentUser && currentUser.darkMode){ %>
									   		darkModeOrangeText	
									   <% }else{ %>
									   		text-secondary
									   <% } %>
									   
									    " href="/profile/<%= comment.author.id %>"> <strong> <%= comment.author.username %> </strong> </a>
									
									<p class=" mx-3 mb-0 text-justify"> <%= comment.text %> </p>

									<!-- if User owns the comment, show edit and delete buttons -->
									<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>

										<!--Edit comment form-->
										<div class="collapse" id="collapseEdit<%= comment._id %>">
											<form id="edit-comment-form<%= comment._id %>" action="/blog/<%= blog._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
												<textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="2" cols="70"><%= comment.text %></textarea>
												<button class="btn btn-sm btn-success mt-1">Save changes</button>
											</form>
										</div>

										<!--edit and delete button-->
										<div class="float-right">
											<a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
											<form class="d-inline" action="/blog/<%= blog._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
												<button class="btn btn-sm btn-danger">Delete</button>
											</form>	
										</div>
										<br>
									<% } %>
									
									<hr>
								</div>
							<% }); %>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section>	
</main>


<!-- Likes Modal to show who liked the post -->
	<div id="blogLikes" class="modal fade" role="dialog">
    	<div class="modal-dialog">
        	<!-- Modal content-->
        	<div class="modal-content">
            	<div class="modal-header">
					<h4 class="modal-title">Likes: <%= blog.likes.length %></h4>
            	</div>
            	<div class="modal-body">
                	<table class="table table-striped">
                    	<thead>
                    		<tr>
                        		<th>Liked by:</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<% blog.likes.forEach(function(like) { %>
                        		<tr>
                            		<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
                        		</tr>
                    		<% }); %>
                    		<% if (blog.likes.length === 0) { %>
                        		<tr>
                            		<td><em>No likes yet.</em></td>
                        		</tr>
                    		<% } %>
                    	</tbody>
                	</table>
            	</div>
            	<div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
        	</div>
    	</div>
	</div>
	

<!-- Follower Modal to show who follows the user - this is shown only if the current user is the bologs author -->
	<div id="followers" class="modal fade" role="dialog">
    	<div class="modal-dialog">
        	<!-- Modal content-->
        	<div class="modal-content">
            	<div class="modal-header">
					<h4 class="modal-title">Number of Followers: <%= user.followers.length %></h4>
            	</div>
            	<div class="modal-body">
                	<table class="table table-striped">
                    	<thead>
                    		<tr>
                        		<th>Followers:</th>
                    		</tr>
                    	</thead>
                    	<tbody>
							
                    		<% user.followers.forEach(function(follower) { %>
                        		<tr>
                            		<td><span class="badge"><i class="fas fa-user"></i></span> <%= follower.username %></td>
                        		</tr>
                    		<% }); %>
                    		<% if (user.followers.length === 0) { %>
                        		<tr>
                            		<td><em>No followers yet.</em></td>
                        		</tr>
                    		<% } %>
                    	</tbody>
                	</table>
            	</div>
            	<div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            	</div>
        	</div>
    	</div>
	</div>


<%- include("../partials/footer") %>